GROQ_API_KEY=api_key
LEETCODE_USERNAME=email
LEETCODE_PASSWORD=ieqg
PROBLEM_SLUG=ddksj
LANGUAGE=c
DIFFICULTY_HINT=easy
MAX_RETRIES=3
GROQ_MODEL=llama-3.3-70b-versatile
HEADLESS=true
EXTRA_HINTS=Optimize for time and space complexity. Prefer clean, readable code.